<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" typy="image/png" href="./assets/images/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Angel Archbold Website</title>
  </head>
  <body>

    <header class="header">
        <figure>
          <img src="../assets/images/logoAngel.png" alt="logoAngel" />
        </figure>
      <nav class="menu">
        <ul>
          <li>
            <a class="link" href="#portafolio">Portfolio</a>
          </li>
          <li>
            <a class="link" href="#experiencia">Experience</a>
          </li>
          <li>
            <a class="link" href="#contacto">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <section class="hero">
      <h1 style="padding: 0 100px;">
        hi! I'm <strong>Angel Archbold</strong>
      </h1>
    </section>

    <section class="portfolio" id="portafolio">

      <h2>Portafolio (Proyectos destacados)</h2>

      <article class="project">
        <div class="project-details">
          <h3 class="project-title">Go-Pyme</h3>
          <h6 class="project-course">Php / MySQL</h6>
          <p class="project-date">
            <small> <strong>Fecha:</strong> 01/02/2020</small>
          </p>
          <p class="project-url">
            <small>
              <strong>Puedes verlo en:</strong>
              <a class="link" href="#"> www.go-pyme.com</a>
            </small>
          </p>
          <p class="project-description">
            Go-Pyme es el resultado de trabajo de más de un año para crear un
            software contable para las pymes.
          </p>
        </div>

        <figure class="project-image-container">
          <img
            class="project-image"
            src="../assets/images/go-pyme.png"
            alt="go-pyme"
          />
        </figure>
      </article>

      <article class="project">
        <div class="project-details">
          <h3 class="project-title">Go-Pyme</h3>
          <h6 class="project-course">Php / MySQL</h6>
          <p class="project-date">
            <small> <strong>Fecha:</strong> 01/02/2020</small>
          </p>
          <p class="project-url">
            <small>
              <strong>Puedes verlo en:</strong>
              <a class="link" href="#"> www.go-pyme.com</a>
            </small>
          </p>
          <p class="project-description">
            Go-Pyme es el resultado de trabajo de más de un año para crear un
            software contable para las pymes.
          </p>
        </div>

        <figure class="project-image-container">
          <img
            class="project-image"
            src="../assets/images/go-pyme.png"
            alt="go-pyme"
          />
        </figure>
      </article>

    </section>

    <section id="experiencia">
      <h2>Más sobre mi experiencia</h2>
      <article class="event">
        <figure class="event-image-container">
          <img
            class="event-image"
            src="../assets/images/sennovaEvent.jpg"
            alt="Event"
            width="400"
            height="400"
          />
        </figure>
        <h3 class="event-title">Sennova 2019</h3>
        <p class="event-description">
          Evento anual de conferencias de innovación
        </p>
        <button class="event-url">Ver más</button>
      </article>
    </section>

    <section class="event" id="contacto">
      <form class="form-email" action="#">
        <h3>Suscríbete</h3>
        <input id="email" type="text" placeholder="example@gmail.com" />
        <button type="submit">
          Enviar
        </button>
      </form>
    </section>

    <footer class="footer">
      <div>
        <p>Angel Archbold ~ Website</p>
      </div>
      <div>
        <p>Design by Angel Archbold</p>
      </div>
    </footer>
  </body>
</html>
